/* Poppins-ExtraLight */

@font-face {
    font-family: "Poppins-ExtraLight";
    src: url("https://fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?");
    src: url("https://fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGFQlYEbsez9cZjKsNMjLOwM.eot?") format("eot"),
    url("https://fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGBsxEYwM7FgeyaSgU71cLG0.woff") format("woff"),
    url("https://fonts.gstatic.com/s/poppins/v5/h3r77AwDsldr1E_2g4qqGC3USBnSvpkopQaUR-2r7iU.ttf") format("truetype"),
    url("https://fonts.gstatic.com/l/font?kit=h3r77AwDsldr1E_2g4qqGKWUboTb-jS2tyCOQMtm97g&skey=1bdc08fe61c3cc9e&v=v5") format("svg");
}


@font-face {
    font-family: "Poppins-ExtraLight";
    font-weight: 700;
    src: url("https://fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?");
    src: url("https://fonts.gstatic.com/s/poppins/v5/2NBlOVek2HIa2EeuV_3Cbw.eot?") format("eot"),
    url("https://fonts.gstatic.com/s/poppins/v5/rijG6I_IOXJjsH07UEo2mw.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/poppins/v5/p0A1C4_gK5NzKtuGSwNurQ.woff") format("woff"),
    url("https://fonts.gstatic.com/s/poppins/v5/rATt6MpBkxjRr3sy5fMEDg.ttf") format("truetype"),
    url("https://fonts.gstatic.com/l/font?kit=dvQ6luzB0ViWP07p6fisSw&skey=87759fb096548f6d&v=v5") format("svg");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    font-style: italic;
    src: url("https://fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?");
    src: url("https://fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKalSqKUsDpiXlwfj-ZM2w_A.eot?") format("eot"),
    url("https://fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRUOjZSKWg4xBWp_C_qQx0o.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKRa1RVmPjeKy21_GQJaLlJI.woff") format("woff"),
    url("https://fonts.gstatic.com/s/poppins/v5/-GlaWpWcSgdVagNuOGuFKdqQynqKV_9Plp7mupa0S4g.ttf") format("truetype"),
    url("https://fonts.gstatic.com/l/font?kit=-GlaWpWcSgdVagNuOGuFKd1LKoZ82bBu2f46DhHcs3c&skey=e6f64e60fb8d9268&v=v5") format("svg");
}

@font-face {
    font-family: "Poppins-ExtraLight";
    font-weight: 700;
    font-style: italic;
    src: url("https://fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?");
    src: url("https://fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQfY6323mHUZFJMgTvxaG2iE.eot?") format("eot"),
    url("https://fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQVtXRa8TVwTICgirnJhmVJw.woff2") format("woff2"),
    url("https://fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff"),
    url("https://fonts.gstatic.com/s/poppins/v5/Fm41upUVp7KTKUZhL0PfQaCWcynf_cDxXwCLxiixG1c.ttf") format("truetype"),
    url("https://fonts.gstatic.com/l/font?kit=Fm41upUVp7KTKUZhL0PfQZbd9NUM7myrQQz30yPaGQ4&skey=f21d6e783fa43c88&v=v5") format("svg");
}


body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: white;
    position: relative;
  }
  
  a {
    color:#181818;
    
  }
  
  /* header */
    .header {
     text-align: center;
    margin-bottom: 50px;
    }
    .header_logo--image{
padding-bottom: 0px;  
 } 
 .header_logo--title{
    padding: 0px !important;
    margin: 0px !important;
 }



  /*navbar*/
  .navbar {
    background-color: rgba(242, 241, 240, 1);
    font: normal normal normal 14px/1.79em poppins-extralight,poppins,sans-serif;
    position: relative;
    width: 100%;
    min-height: 50px !important;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .navbar li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
  }
  
  .navbar li a:hover,
  .navbar .menu-btn:hover {
    background-color: #f4f4f4;
  }
  

  
  /* menu */
  
  .navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .navbar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: all .2s ease-out;
    width: 18px;
  }
  
  .navbar .menu-icon .navicon:before,
  .navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .navbar .menu-icon .navicon:before {
    top: 5px;
  }
  
  .navbar .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .navbar .menu-btn {
    display: none;
  }
  
  .navbar .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
    .navbar li {
      float: left;
    }
    .navbar li a {
        padding: 10px 20px;
    
    }
    .navbar{
        min-height: 0px !important;

    }
    .navbar .menu {
      clear: none;
      justify-content: center;
      display: flex;
      max-height: none;
    }
    .navbar .menu-icon {
      display: none;
    }
  }
  